$app-body-bckgrnd-blackish: rgb(14, 14, 14);
$app-body-border: darkgrey;

$content-header-bckgr-grad11: rgb(104, 104, 104);
$content-header-bckgr-grad12: rgb(36, 36, 36);
$content-crumb-bckr-grad11:  rgb(147, 143, 143);
$content-crumb-bckr-grad12: rgb(73, 72, 72);


$crumb-last-bckgr-grad11:  dodgerblue; 
$crumb-last-bckgr-grad12: rgb(92, 171, 251);

$input-placeholder-txt-color: rgb(180, 179, 179);
$input-hover-bckgr-grad11: rgb(181, 175, 175);

$detail-card-border: rgb(43, 43, 43);
$detail-card-hr-txt-color: rgba(247, 247, 247, 0.99);


$box-shadow-dark:  black;
$txt-shadow-dark:  black;
$txt-color-lightest: white;
$txt-color-light: whitesmoke;

$navigation-link-border: rgba(40, 40, 40, 0.834);
$navigation-link-hover-bckgrnd: gray;

$table-wrapper-bckgrnd: #ababab;
$table-wrapper-txt-color: rgb(57, 54, 54);
$table-bckgrnd: white;
$table-th-bckgrnd: hwb(0 66% 29% / 0.658);
$table-th-txt-color: rgb(86, 80, 80);
$table-row-even-bckgr-grad11: rgba(245, 245, 245, 1) 0%;
$table-row-even-bckgr-grad12: rgba(241, 241, 247, 1) 49%;
$table-row-even-bckgr-grad13: rgba(232, 227, 227, 1) 100%;
$table-row-odd-bckgr-grad11: rgba(230, 228, 228, 1) 0%;
$table-row-odd-bckgr-grad12: rgba(218, 218, 221, 1) 49%;
$table-row-odd-bckgr-grad13: rgba(187, 187, 187, 1) 100;
$table-cell-border1: rgb(190, 190, 190);


